MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/awareness_db?retryWrites=true&w=majority
NEXTAUTH_SECRET=your_nextauth_secret_here_random_string
NEXTAUTH_URL=http://localhost:3000

# CraftMyPDF
CRAFT_MY_PDF_API_KEY=
CAMPAIGN_CERT_TEMPLATE_ID=67877b235383cefa
PROMOTION_TEMPLATE_ID=39077b23538ff656
COMPLIANCE_REPORT_TEMPLATE_ID=df477b2353897714
